body {
  color: white;
    margin: 0px;
    padding: 0px;
    background-image: url('Pics/bg9.jpg');
    font-weight: bold;
}

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    /* top: 20px;
left: 34px; */
    font-size: 15px;
    top: 4px;
    left: 19px;
}

.left img {
    width: 40px;
    filter: invert(100%);
    padding-left: 30px;
}

.left div {
    font-family: 'Mali', cursive;
    line-height: 22px;
    font-size: 26px;
    text-align: center;
}

.mid {
  display: block;
  margin: auto;
  font-size: 23px;
  font-weight: 5px;
  background-color: teal;
  padding-left: 50px;
  text-align: center;
}

.right {

    display: inline-block;
    /* border: 2px solid yellow; */
    position: absolute;
    top: 20px;
    right: 34px;
}

.navbar {
    display: inline-block;
    font-family: 'Capriola', sans-serif;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover {
  color: #78c4d4;
  text-decoration: underline;
}
.navbar li a.active {
    color: #cee6b4;
}

.btn {
    font-family: 'Capriola', sans-serif;
    margin: 0px 9px;
    padding: 4px 9px;
    border: 2px solid white;
    background-color: black;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    color: white;
}

.btn:hover {
    background-color: gray;
}

.container {
    color: black;
    margin: auto;
    padding: 100px;
    width: 400px;
    max-width: 90%;
    font-family: 'Recursive', sans-serif;
}
.container form{
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
}
.container form h1{
    font-family: 'Croissant One', cursive;
    text-align: center;
    color: #222;
}
.container form .form-control{
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
    padding: 0 10px;
}
.container form .btn{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background: #27a327;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    transition: .3s;
}
.container form .btn:hover{
    opacity: .7;
}
