body {
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url('Pics/bg9.jpg');
    font-weight: bold;
}

.left {

    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    /* top: 20px;
left: 34px; */
    font-size: 15px;
    top: 4px;
    left: 19px;
}

.left img {
    width: 40px;
    filter: invert(100%);
    padding-left: 30px;
}

.left div {
    font-family: 'Mali', cursive;
    line-height: 22px;
    font-size: 26px;
    text-align: center;
}

.mid {
  display: block;
  margin: auto;
  font-size: 23px;
  font-weight: 5px;
  background-color: teal;
  padding-left: 50px;
  text-align: center;
}

.right {

    display: inline-block;
    /* border: 2px solid yellow; */
    position: absolute;
    top: 20px;
    right: 34px;
}

.navbar {
    display: inline-block;
    font-family: 'Capriola', sans-serif;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover {
  color: #78c4d4;
  text-decoration: underline;
}
.navbar li a.active {
    color: #cee6b4;
}

.btn {
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0 9px;
    padding: 4px 9px;
    border: 2px solid white;
    background-color: black;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    color: white;
}

.btn:hover {
    background-color: gray;
}

.container {
    border: 2px solid white;
    margin: 100px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}

.dboard {
    color: black;
    margin: auto;
    padding: 100px;
    width: 530px;
    height: 600px;
    max-width: 90%;
}

.dboard form {
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #A6FFFFFF;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
}

.dboard form h1 {
    text-align: center;
    font-family: 'Croissant One', cursive;
    margin-bottom: 24px;
    color: #222;
}

.dboard form .dbtn {
    font-family: 'Recursive', sans-serif;
    width: 100%;
    height: 50px;
    background: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
    padding: 0 10px;
    font-size: 25px;
    color: white;
    background-color: teal;
}

.trains {
    font-family: 'Recursive', sans-serif;
}